.cabecalho__menu-hamburguer{
    width: 24px; /*Largura*/
    height:24px; /*altura*/
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /*Permite está tudo em altura e lagura*/
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Isso aqui serve para manter o algo em qualquer lugar, cima, baixo, direita , esquerda.*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/*Seção de edição do  Menu Oculto.*/

.lista-menu{  /*Isso aqui serve para ocultar o Menu */
    display: none;
    position: absolute; /*Segue o raciocinio da linha 15 de manter o Menu pra baixo. PARA FICAR DIFENTE DE ESTATICO*/
    top: 100%;
    width: 50vw; /*Aumentou o tamanho do menu*/
}

.container__botao:checked ~ .lista-menu{ /* prestar atenção nisso/ estudar isso. Container_botao chamou o imput. Checked é uma pseudoclasse. O ~ é combinador que vai combinar o elemento que vem em seguida com o de antes. É quase como uma incondicional.*/
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*os webkit pra funcionar em outros navegadores*/
    background-clip: text; /*mantem o backgorund apenas onde tem texto*/
    text-transform: uppercase;

}

.container__botao {
    display: none; /*Vai retirar o botão de check visivelmente*/
}

.container__titulo { /*Para o titulo não aparece quando estiver no modo celular*/
    display: none;
}

.opçoes {
    display: none;
}

@media screen and (min-width: 1024px) { /*Isso se chama MEDIA QUERY PARA USAR EM TAMANHO DE TELA. SCREEN É TELA. AND É PARA O MINIMO SER O QUE FOI PROPOSTO A SEGUIR(QUANDO O MINIMO DE TELA, TRADUÇÃO LITERAL. quando faz do tamanho do computador e depois diminui para o tamanho da tela usasse max-width. */
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }   
}

.container__titulo {
    font-weight: 400;
    display: block;
}

.container__titulo--negrito{
    font-weight: 700;
}

.opçoes {
    display: flex;
}

.opçoes__item {
    padding: 0 1em;
    text-transform: uppercase;
}

.opçoes__link {
    text-decoration: none;
    color: #000000;
}

.container__imagem-transparent {
    display: none;
}

.cabecalho__menu-hamburguer{
    display: none;
}
