@import url("../style/header.css"); /*Importou de outro style*/
@import url("../style/banner.css");
@import url("../style/carrossel.css");
@import url("../style/topicos.css");
@import url("../style/contato.css");
@import url("../style/rodape.css");

:root {
    --cor-de-fundo:#EBECEE;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --azul-degrade: #0e0734;
    --fonte-principal: "poppins";
    --fonte-secundaria: "Josefin Sans";

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

